In [ ]:
import numpy as np
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 99.0.4844
Get LATEST chromedriver version for 99.0.4844 google-chrome
Trying to download new driver from https://chromedriver.storage.googleapis.com/99.0.4844.51/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\jkjel\.wdm\drivers\chromedriver\win32\99.0.4844.51]

In [3]:
url = 'http://redplanetscience.com/'
browser.visit(url)

In [4]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
news_title = soup.find_all('div', class_='content_title')
news_p = soup.find_all('div', class_='article_teaser_body')
print("Title: ",news_title)
print("Paragraph: ",news_p)

Title:  [<div class="content_title">Q&amp;A with the Student Who Named Ingenuity, NASA's Mars Helicopter</div>, <div class="content_title">NASA's Perseverance Rover Goes Through Trials by Fire, Ice, Light and Sound</div>, <div class="content_title">Virginia Middle School Student Earns Honor of Naming NASA's Next Mars Rover</div>, <div class="content_title">Heat and Dust Help Launch Martian Water Into Space, Scientists Find</div>, <div class="content_title">NASA Prepares for Moon and Mars With New Addition to Its Deep Space Network</div>, <div class="content_title">8 Martian Postcards to Celebrate Curiosity's Landing Anniversary</div>, <div class="content_title">A Martian Roundtrip: NASA's Perseverance Rover Sample Tubes</div>, <div class="content_title">Mars Scientists Investigate Ancient Life in Australia</div>, <div class="content_title">All About the Laser (and Microphone) Atop Mars 2020, NASA's Next Rover</div>, <div class="content_title">New Selfie Shows Curiosity, the Mars Chemist</div>, <div class="content_title">Mars InSight Lander to Push on Top of the 'Mole'</div>, <div class="content_title">Newfound Martian Aurora Actually the Most Common; Sheds Light on Mars' Changing Climate</div>, <div class="content_title">NASA Wins Two Emmy Awards for Interactive Mission Coverage</div>, <div class="content_title">The Extraordinary Sample-Gathering System of NASA's Perseverance Mars Rover</div>, <div class="content_title">Independent Review Indicates NASA Prepared for Mars Sample Return Campaign</div>]
Paragraph:  [<div class="article_teaser_body">As a longtime fan of space exploration, Vaneeza Rupani appreciates the creativity and collaboration involved with trying to fly on another planet.</div>, <div class="article_teaser_body">The agency's new Mars rover is put through a series of tests in vacuum chambers, acoustic chambers and more to get ready for the Red Planet.</div>, <div class="article_teaser_body">NASA chose a seventh-grader from Virginia as winner of the agency's "Name the Rover" essay contest. Alexander Mather's entry for "Perseverance" was voted tops among 28,000 entries. </div>, <div class="article_teaser_body">Scientists using an instrument aboard NASA’s Mars Atmosphere and Volatile EvolutioN, or MAVEN, spacecraft have discovered that water vapor near the surface of the Red Planet is lofted higher into the atmosphere than anyone expected was possible. </div>, <div class="article_teaser_body">Robotic spacecraft will be able to communicate with the dish using radio waves and lasers.</div>, <div class="article_teaser_body">The NASA rover touched down eight years ago, on Aug. 5, 2012, and will soon be joined by a second rover, Perseverance.</div>, <div class="article_teaser_body">Marvels of engineering, the rover's sample tubes must be tough enough to safely bring Red Planet samples on the long journey back to Earth in immaculate condition. </div>, <div class="article_teaser_body">Teams with NASA's Mars 2020 and ESA's ExoMars practiced hunting for fossilized microbial life in the Australian Outback in preparation for their Red Planet missions. </div>, <div class="article_teaser_body">SuperCam is a rock-vaporizing instrument that will help scientists hunt for Mars fossils.</div>, <div class="article_teaser_body">The NASA rover performed a special chemistry experiment at the location captured in its newest self-portrait.</div>, <div class="article_teaser_body">Engineers have a plan for pushing down on the heat probe, which has been stuck at the Martian surface for a year.</div>, <div class="article_teaser_body">A type of Martian aurora first identified by NASA’s MAVEN spacecraft in 2016 is actually the most common form of aurora occurring on the Red Planet, according to new results from the mission.</div>, <div class="article_teaser_body">NASA-JPL's coverage of the Mars InSight landing earns one of the two wins, making this the NASA center's second Emmy.</div>, <div class="article_teaser_body">Two astronauts collected Moon rocks on Apollo 11. It will take three robotic systems working together to gather up the first Mars rock samples for return to Earth.</div>, <div class="article_teaser_body">NASA released an independent review report Tuesday indicating the agency is well positioned for its Mars Sample Return campaign to bring pristine samples from Mars to Earth for scientific study.</div>]

In [5]:
url = 'http://spaceimages-mars.com/'
browser.visit(url)

In [6]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
featured_image = soup.find('img', class_='headerimage fade-in')['src']
featured_image_url = url + featured_image
print("Featured Image Url: ",featured_image_url)

Featured Image Url:  http://spaceimages-mars.com/image/featured/mars2.jpg

In [7]:
url = 'https://galaxyfacts-mars.com/'
browser.visit(url)

In [8]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [9]:
tables = pd.read_html(url)
print(tables)

[                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C,                       0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers]

In [10]:
marsdf = tables[0]
marsdf

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [11]:
html_table = marsdf.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n      <th>2</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Mars - Earth Comparison</td>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [12]:
url = 'https://marshemispheres.com/'
browser.visit(url)

In [13]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [14]:
items = soup.find_all('img', class_ ='thumb')
items

[<img alt="Cerberus Hemisphere Enhanced thumbnail" class="thumb" src="images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png"/>,
 <img alt="Schiaparelli Hemisphere Enhanced thumbnail" class="thumb" src="images/08eac6e22c07fb1fe72223a79252de20_schiaparelli_enhanced.tif_thumb.png"/>,
 <img alt="Syrtis Major Hemisphere Enhanced thumbnail" class="thumb" src="images/55a0a1e2796313fdeafb17c35925e8ac_syrtis_major_enhanced.tif_thumb.png"/>,
 <img alt="Valles Marineris Hemisphere Enhanced thumbnail" class="thumb" src="images/4e59980c1c57f89c680c0e1ccabbeff1_valles_marineris_enhanced.tif_thumb.png"/>]

In [15]:
titles = soup.find_all('a', class_ ='itemLink product-item')['href']
titles

## I want to use find_all here, but the list indices must be integers or slices, not str. 
## How do I use a range() statement to iterate each title in the list?

TypeError: list indices must be integers or slices, not str

In [ ]:
hemisphere_image_urls = [
    {'title':titles[0],'img_url':items[0]}, 
    {'title':titles[1],'img_url':items[1]},
    {'title':titles[2],'img_url':items[2]},
    {'title':titles[3],'img_url':items[3]}]
hemisphere_image_urls